//#include <tchar.h>
//#include <windows.h>
#include "../ReaderMenu/ReaderMenu.h"

IDM_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...", IDM_OPEN
        MENUITEM "&Close",   IDM_CLOSE
        MENUITEM "E&xit",    IDM_EXIT
    END
END
